<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <section class="allocate py-5 text-white">
      <div class="container-fluid container-lg">
        <div class="row">
          <div class="col-6 col-lg-6 d-flex align-items-center">
            <div class="wrap">
              <img
                src="../../assets/img/Allocate/border-top.svg"
                alt="border-top"
              />
              <p class="title mt-3">Phân bổ tầng</p>
              <ul class="list-unstyled">
                <li><strong>Số tầng:</strong> 27 tầng + 2 hầm</li>
                <li>
                  <strong>Phân bổ tầng:</strong> Tổ hợp khu văn phòng (tầng 1 –
                  12). <br />
                  Căn hộ hạng sang (tầng 12 – 27)
                </li>
                <li>
                  <strong>Loại hình căn hộ:</strong> Căn hộ điển hình 2,3,4
                  phòng ngủ, duplex,penthouse
                </li>
                <li>
                  <strong>Diện tích:</strong> Căn hộ điển hình: 92,2m2 - 156,1m2
                  <br />
                  Duplex: 189,6m2 - 248,3m2 <br />
                  Penthouse: 343,3m2 – 350m2
                </li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-lg-6">
            <div class="wrap-house">
              <div class="wrap-house-item one">
                <img src="../../assets/img/Allocate/house-1.svg" alt="img" />
                <div class="box-circle">1</div>
              </div>
              <div class="wrap-house-item two">
                <img src="../../assets/img/Allocate/house-2.svg" alt="img" />
                <div class="box-circle">2</div>
              </div>
              <div class="wrap-house-item three">
                <img src="../../assets/img/Allocate/house-3.svg" alt="img" />
                <div class="box-circle">3</div>
              </div>
              <div class="wrap-house-item four">
                <img src="../../assets/img/Allocate/house-4.svg" alt="img" />
                <div class="box-circle">4</div>
              </div>
              <div class="wrap-house-item five">
                <img src="../../assets/img/Allocate/house-5.svg" alt="img" />
                <div class="box-circle">5</div>
              </div>
              <div class="wrap-house-item six">
                <img src="../../assets/img/Allocate/house-6.svg" alt="img" />
                <div class="box-circle">6</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="../../assets/js/bootstrap.bundle.js"></script>
  </body>
</html>
