<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <section class="location py-5">
      <p
        class="d-flex align-items-center justify-content-center text-uppercase"
      >
        <img src="../../assets/img/image.svg" alt="img" />
        <span class="title mx-3">Vị trí vàng</span>
        <img src="../../assets/img/image.svg" alt="img" />
      </p>
      <div class="text-white text mx-auto text-center my-5 px-3">
        Tọa lạc giữa tâm điểm Sài Gòn phồn hoa với tầm nhìn triệu đô hướng đến
        trung tâm.
      </div>
      <div class="d-flex justify-content-center px-3">
        <img
          src="../../assets/img/Location/location.svg"
          class="img-fluid"
          alt="location"
        />
      </div>
    </section>
    <script src="../../assets/js/bootstrap.bundle.js"></script>
  </body>
</html>
