<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <section class="introduce">
      <div class="wrap container-fluid px-0 h-100 position-relative">
        <div class="row">
          <div class="left col-12 col-xxl-6 mb-5 mb-xxl-0">
            <img src="../../assets/img/Introduce/image-1.png" alt="image-1" />
          </div>
          <div
            class="right col-12 col-xxl-6 d-flex flex-column justify-content-center mb-0 mb-xxl-6"
          >
            <div class="d-flex justify-content-center">
              <img src="../../assets/img/image.svg" alt="image-2" />
              <span class="text-uppercase text ms-3">Giới thiệu</span>
            </div>
            <p class="title text-center text-xxl-start">Stella Residence</p>
            <p class="description mx-auto mx-xxl-0 mb-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
              maiores! Alias eaque debitis similique quidem assumenda culpa
              ullam eius? Cum impedit, odio magnam unde omnis accusamus
              similique pariatur! Minus, odit.
            </p>
          </div>
        </div>
        <span class="title-2">Stella Residence</span>
      </div>
    </section>

    <script src="../../assets/js/bootstrap.bundle.js"></script>
  </body>
</html>
